<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./include/head')%>
</head>
<body>
    <ariticle id="start">
        <header class="container text-center" style="height: 70px; line-height: 70px; letter-spacing: 2.5px;">
            <span style="color: white;">M</span><span style="color: #ce85e4;">C</span><span style="color:white;">TI</span>
        </header>
    </ariticle>
    <article class="question container text-center" style="padding-bottom: 30px;">
        <div class="prog mt-3">
            <div class="progs" style="width: calc(100/12*1%);"></div>
        </div>
        
        <% question_map.forEach(function(e, i) { %>
            <div class="container text-center q<%=i%>" style="margin-top: 3em; display: none;">
                <h2 class="text-center mb-2" style="color: white; font-family: GyeonggiBatang; font-size: 35px;"><%= e.title %></h2>
                <p class="text-center mt-3 mb-5" style="color: white; font-family: GyeonggiBatang; font-size: 23px;"><%- e.content %></p>
                <button onclick="next(0)" class="ansbutton btn-primary mt-5" style="font-size: 13px;"><%- e.A %></button>
                <button onclick="next(1)" class="ansbutton btn-primary mt-2" style="font-size: 13px;"><%- e.B %></button>
            </div>
        <% }) %>
    </article>
    <script src="/javascripts/form.js"></script>
</body>
<br/>
<div class="container text-center">
    <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-P5LNBkOuR09yDcXi" 
            data-ad-width   = "320" 
            data-ad-height  = "50">
        </ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

</div>
</html>
