<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: 'Grandpa_sharing';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Grandpa_sharing.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'MapoMaponaru';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoMaponaruA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'GyeonggiBatang';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Chosunilbo_myungjo';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'NEXON Lv1 Gothic OTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body{
            background-image: url('images/background.png');
        }
        .hover {
            cursor: pointer
        }
        .hover:hover {
            background-color: #EEE
        }
        .button{
            width: 80%;
            height: 50px;
            border: 3px solid #d09adb;
            border-radius: 0;
            background-color: #a52a2a00;
            color: #ffffff;
            box-shadow:  0px 0px 8px #d09adb inset, 0px 0px 8px #d09adb;
        }
        .ansbutton{
            width: 90%;
            height: 100px;
            border: 3px solid #d09adb;
            border-radius: 0;
            background-color: #a52a2a00;
            color: #ffffff;
            box-shadow:  0px 0px 8px #d09adb inset, 0px 0px 8px #d09adb;
        }
        #umm{
            max-width: 360px;
            height: 500px;
            margin-top: 70px;
        }
        .question{
            max-width: 360px;
        }
        #hmm{
            max-width: 360px;
            margin-top: 20%;
        }
        .prog{
            background-color: #ffffff;
            height: 2px;
            max-width: 60%;
            margin: 0 auto;
        }
        .progs{
            background-color: #d09adb;
            height: 100%;
        }
    </style>
</head>
<body>
    <ariticle id="start">
        <header class="container text-center" style="height: 70px; line-height: 70px; letter-spacing: 2.5px;">
            <span style="color: white; font-weight: bold; font-family: NEXON Lv1 Gothic OTF;">M</span><span style="color: #ce85e4;">C</span><span style="color:white;">TI</span>
        </header>

    </ariticle>
    <article class="question container text-center">
        <div class="prog mt-5">
            <div class="progs" style="width: calc(100/12*1%);"></div>
        </div>
        <% question_map.forEach(function(e, i) { %>
            <div class="container text-center q<%=i%>" style="margin-top: 8em; display: none;">
                <h2 class="text-center mt-5 mb-2" style="color: white; font-family: GyeonggiBatang; font-size: 35px;"><%= e.title %></h2>
                <p class="text-center mt-3 mb-5" style="color: white; font-family: GyeonggiBatang; font-size: 23px;"><%- e.content %></p>
                <button onclick="next(0)" class="ansbutton btn-primary mt-5" style="font-size: 13px;"><%- e.A %></button>
                <button onclick="next(1)" class="ansbutton btn-primary mt-2" style="font-size: 13px;"><%- e.B %></button>
            </div>
        <% }) %>
    </article>
    <script src="/javascripts/form.js"></script>
</body>
</html>